.top{
    color: red;
}

.navig , .navig2{
    color: orange;
}

.yell{
    color: yellow;
}

.greed{
    color: green;
}

.sad{
    color: blue;
}

.madeupcolor{
    color: indigo;
}

.num1 , .num2 , .aaa{
    color: violet;
}

a{
    color: orange;
}

