.card {
    max-width: 720px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 50px;
    box-shadow: 0 0 1.5px 1.5px rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    background-color: #c20000;
    height: 300px;
    transition: all 300ms ease;
}

.card:hover {
    box-shadow: 0 0 1.5px 1.5px rgba(255, 0, 0, 0.1);
    background: #494949;
    color: #fff;
}

.img-container {
    text-align: center;
    margin-top: -51px;
}

.ball {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    transition: all 300ms ease;
}

.ball:hover {
    background-color: blue;
}