body{
    font-family: sans-serif;   
    height: 100vh;
    background-image: linear-gradient(90deg, rgb(4, 186, 29), aqua);
}

input[type="text"]{
    padding: 10px 15px;
    outline: none;
    border: 1px solid rgb(13, 207, 81);
    border-radius: 5px;
    color: seagreen;
    background-image: linear-gradient(90deg, rgb(76, 244, 188), rgb(30, 255, 0));
}
